<h2>For Rent</h2>
<div class="row">
    <div class="col-md-12">
        
        <form ng-submit="rc.newRental(rent, sqft, city)"> 
            <label for="rent">Rent: </label>
            <input type="number" ng-model="rc.newRental.cost" id="rentalCost" placeholder="Rent" />
            <label for="sqft">Square Feet: </label>
            <input type="number" ng-model="rc.newRental.sqft" id="rentalSqFt" placeholder="Square Feet" />
            <label for="city">City: </label>
            <input type="text" ng-model="rc.newRental.city" id="rentalSqFt" placeholder="City" />
            <button class="btn btn-primary">Add Rental</button>
        </form> 
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div ng-repeat="rental in rc.rentals" class="well col-md-3">
            <p>
                <strong>Rent:</strong> {{rental.rent}}</p>
            <p>
                <strong>Square Feet:</strong> {{rental.sqft}}</p>
            <p>
                <strong>City:</strong> {{rental.city}}</p>
            
            </p>
            <button ng-click="rc.deleteRental(rental._id)" class="btn btn-danger">Delete</button>
        </div>
    </div>
</div>
