.jumbotron {
    background-color: #44BBA4;
    height: 200px;
}
.jumbotron h1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 64px;
}

.jumbotron a {
    font-family: 'Raleway', sans-serif;
    text-align: left;
    font-size: 24px;
    color: lightgrey;
}